@page
@model IssueTracker.Web.Pages.Users.DeleteModel
@{
}
<h2>Delete User</h2>

<div class="alert alert-warning">
    Are you sure you want to delete <strong>@Model.User.UserName</strong>?
</div>

<form method="post">
    <input asp-for="User.Id" type="hidden" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Cancel</a>
</form>


